/*GENERAL ALL PAGE STYLING*/
:root {
    --antiqueWhite: #f9f9f9;
    --lightGreen: #d4e9e2;
    --darkGreen: #1e3932;
    --green: #00754a;
    --maroon: #8b323e;
    --white: #ffffff;
    --black: #000000;
}

body {
    color: rgba(0,0,0,.87);
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-feature-settings: "calt";
    transition: all 3s;
    max-width: 100vw;
    overflow-x: hidden;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.stndrdBtn {
    min-width: 33px;
    min-height: 33px;
    border: solid 1px var(--darkGreen);
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    transition: all .2s ease;
}

.stndrdBtn:hover {
    background-color: rgba(0,0,0,.1);
}

.active-background {
    transform: translateX(-100vw);
}

.active-menu {
    transform: translateX(-80vw);
}

.hidden-dropdown {
    height: 0 !important;
    overflow: hidden;
}





/*Header nav*/
.main-nav-bar {
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(214, 211, 211);
    z-index: 1000;
}

.main-nav-bar div {
    align-items: center;
    gap: 10px;
}

.sbLogo {
    background-image: url(../images/starbucksLogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin-left: 1.6rem;
}

.side-menu-btn {
    width: 24px;
    height: 24px;
    margin-right: 1.6rem;
}

.side-menu-btn:hover {
    cursor: pointer;
    opacity: .5;
}

.side-menu-btn i {
    width: 24px;
    height: 24px;
    color: rgb(77, 76, 76);
}

.main-nav-bar nav ul {
    display: flex;
    gap: 1rem;
}

.main-nav-bar nav ul li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1rem;
}

.main-nav-bar nav ul li:hover, .container-find-store:hover {
    color: var(--Green);
}

.container-find-store {
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1rem;
}

.container-auth {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

#signupBtn {
    color: var(--white);
    background-color: var(--black);
}

#signupBtn:hover {
    background-color: #707070;
}

.main-nav-bar nav, .nav-right-container{
    display: none;
}








/*Side Nav*/
.container-right-nav {
    position: absolute;
    height: calc(100% - 83px);
    top: 83px !important;
    left: 100vw;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    transition: all .25s;
}

.container-right-nav-menu, .container-right-nav-submenu {
    position: absolute;
    width: 80vw;
    height: 100%;
    background-color: white;
    left: 100vw;
    right: 0;
    z-index: 500;
    transition: all .25s;
}

.container-right-nav-submenu {
    z-index: 600 !important;
}

.wrapper-side-nav-link {
    margin: 2.8rem 1.5rem;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.wrapper-side-nav-link ul {
    width: 100%;
}

.wrapper-side-nav-link ul li {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.wrapper-side-nav-sublink ul li, #subMenu {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

#subMenu {
    justify-content: left;
    text-align: left;
    background-color: var(--antiqueWhite);
}

#subMenu i {
    padding-right: 10rem;
}

.wrapper-side-nav-submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-side-nav-submenu:hover {
    cursor: pointer;
}

.container-side-nav-actions {
    margin-left: 1.5rem;
}

.wrapper-login-signup {
    padding-bottom: 1rem;
}

.prevent-scroll {
    height: 100%;
    overflow: hidden;
}











/*Footer styling*/
.container-footer-menu {
    padding-top: 2rem;
    border-bottom: 1px solid lightgray;
}

.container-footer-dropdown {
    padding: 1rem 1.5rem;
    display: block;
    height: fit-content;
}

.wrapper-footer-dropdown-text {
    display: flex;
    justify-content: space-between;
}

.wrapper-footer-dropdown-text:hover {
    cursor: pointer;
}

.container-footer-dropdown h2 {
    font-size: 1.2rem;
}

.wrapper-footer-dropdown-items, .wrapper-footer-dropdown-items-small {
    transition: height .25s linear;
    margin-top: 2rem;
    overflow: hidden;
}

.wrapper-footer-dropdown-items ul, .wrapper-footer-dropdown-items-small ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper-footer-dropdown-items-small {
    height: 350px;
}

.wrapper-footer-dropdown-items {
    height: 450px;
}

.wrapper-footer-dropdown-items ul li, .wrapper-footer-dropdown-items-small ul li {
    padding: 1rem 0;
    font-size: .9rem;
    color: rgb(131, 130, 130);
}

.wrapper-footer-dropdown-items ul li:hover, .wrapper-footer-dropdown-items-small ul li:hover {
    color: black;
}



/*SOCIAL MEDIA STYLING*/
.container-sm {
    padding: 2rem 1.5rem 0 1.5rem;
    font-size: 2.4rem;
}






/*LEGAL LINK STYLING*/
.container-legal {
    display: block;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.container-legal a {
    font-size: .9rem;
    padding: .8rem 1.5rem;
    font-weight: 800;
    text-decoration: none;
    list-style: none;
}









/*Personal disclaimer styling*/
.container-personal-disclaimer {
    background-color: yellow;
    color: black;
    text-align: center;
}

.container-personal-disclaimer p {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
}












/*RESPONSIVE*/
@media (min-width: 768px) {
    .sbLogo {
        width: 49px;
        height: 49px;
    }
}

@media (min-width: 772px) {
    .side-menu-btn {
        display: none !important;
    }

    .main-nav-bar {
        justify-content: space-between;
    }

    .main-nav-bar div, .main-nav-bar nav {
        display: flex;
    }
}

@media (min-width: 1022px) {
    .container-legal {
        display: grid;
        padding-left: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    .container-legal a {
        border-left: 1px solid rgb(214, 211, 211);
        border-right: 1px solid rgb(214, 211, 211);
    }
}

@media (min-width: 1024px) {
    .hidden-dropdown {
        min-height: fit-content;
        height: 450px !important;
        justify-content: flex-start;
    }

    .wrapper-footer-dropdown-items {
        overflow: visible;
    }

    .container-footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .wrapper-footer-dropdown-items ul, .wrapper-footer-dropdown-items-small ul {
        justify-content: flex-start;
    }

    .wrapper-footer-dropdown-items ul a li, .wrapper-footer-dropdown-items-small ul li {
        padding: .5rem 0;
        font-size: .9rem;
        color: rgb(131, 130, 130);
        margin-top: 0;
    }

    
}